<div class="eav-container bg-light p-2">
        <h1 class="display-4">Notes Apps</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis odit excepturi quidem. Non iure doloremque id, assumenda corporis ex. Consectetur nemo dolores perspiciatis mollitia deleniti sequi cum iusto natus id.</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem, voluptatibus dignissimos earum assumenda debitis sequi veritatis officia. Aliquam reprehenderit atque quibusdam officiis, qui commodi suscipit iusto ex ab sit quod.</p>
        <a href="https://github.com/AlexPrixman/notes-app" class="btn btn-outline-primary">Alex GitHub</a>
</div>